html {
  scroll-behavior: smooth;
}

:root {
  --primary-font: 'Josefin Sans', sans-serif;
  --secondary-font: 'Aleo', serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
}

:link,
:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
}

header {
  background-image: url(images/header-background.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

header .content {
  text-align: center;
  padding-top: 295px;


  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    color: #fff;
    text-transform: uppercase;
  }

  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    letter-spacing: 0.31em;
    padding-block: 8px 48px;
  }

  form {
    width: 647px;
    height: 60px;
    display: inline-flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 4px;

    label {
      position: relative;
      width: 330px;
      height: 52px;

      input {
        width: 330px;
        height: 52px;
        border: none;
        text-align: center;
        font-family: var(--primary-font);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2em;
        color: #000;

        &::placeholder {
          color: #999999;
        }

        &:focus {
          outline: none;
        }
      }
    }

    button {
      width: 139px;
      height: 52px;
      background-color: #5373FD;
      border: none;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-family: var(--secondary-font);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.1em;
      color: #fff;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #5373FD;
        border: 1px solid #5373FD;
        transition: all 0.3s;

        & svg {
          [fill=white] {
            fill: #5373FD;
          }
        }
      }

    }
  }

  div {
    padding-top: 210px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2em;
      color: #fff;

      svg {
        width: 14px;
        height: 16px;
      }

      &:hover {
        transition: all 0.3s;
      }
    }
  }
}

main {
  .nav {
    div {
      padding-inline: calc((100vw - 1140px)/2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 84px;
      background-color: #5373FD;
      color: #fff;

      a {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #fff;
      }

      nav {
        ul {
          display: flex;
          gap: 40px;

          li {
            height: 83px;
            align-content: center;

            &:hover {
              border-bottom: 1px solid #fff;
              cursor: pointer;
            }

            a {
              font-family: var(--secondary-font);
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0.1em;
            }
          }
        }
      }

      .burger {
        display: none;
        width: 40px;
        height: 24px;
        background-color: transparent;
        transition: filter 0.3s;

        span {
          display: block;
          width: 40px;
          height: 2px;
          background-color: white;
          translate: 0 1px;
          transition: rotate 0.5s, translate 0.5s;

          &:nth-child(2) {
            translate: 0 9px;
          }

          &:nth-child(3) {
            translate: 0 18px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      #burger {
        display: none;

        &:checked~.burger {
          span {
            background-color: #fff;

            &:nth-child(1) {
              rotate: 45deg;
              translate: 0 8px;
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              rotate: -45deg;
              translate: 0 3px;
            }
          }
        }
      }
    }
  }
}

.choice {
  display: flex;
  gap: 136px;
  padding-inline: calc((100vw - 1140px)/2);
  padding-block: 124px;
  background-image: url(images/choice-background.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .content {
    padding-block: 66px;

    h2 {
      font-family: var(--secondary-font);
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
      color: #fff;
    }

    .text {
      padding-block: 24px 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #fff;
      letter-spacing: 0.1em;
    }

    button {
      width: 213px;
      height: 60px;
      background-color: #5373FD;
      border: none;
      font-family: var(--secondary-font);
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #fff;
      background: linear-gradient(45deg, #486BFE 42%, #5373FD 42%);

      &:hover {
        background: #fff;
        color: #5373FD;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .images {
    box-sizing: border-box;
    width: 424px;
    height: 456px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .left {
      translate: -74px 0;
    }
  }
}

.steps {
  background-image: url(images/line.svg);
  background-repeat: no-repeat;
  background-position: 50% 50px;
  height: 306px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    gap: 205px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      background-color: #333333;

      span {
        font-family: var(--secondary-font);
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        color: #fff;
      }

      svg {
        width: 64px;
        height: 64px;
      }
    }
  }
}

.spain {
  .image {
    background-image: url(images/spain-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 684px;
    position: relative;

    &:nth-child(2) {
      background-image: url(images/spain-2.png);

      .content {
        left: unset;
        right: 300px;
      }
    }
  }

  .content {
    box-sizing: border-box;
    width: 648px;
    height: 344px;
    background-color: #232323;
    opacity: 0.7;
    position: absolute;
    bottom: 120px;
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 44px 32px;

    &:hover {
      opacity: 1;
      transition: 0.5s;
    }

    b {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      letter-spacing: 0.1em;
      color: #fff;
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: #fff;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: #fff;
      letter-spacing: 0.1em;
    }

    button {
      margin-top: 8px;
      width: 213px;
      height: 60px;
      background-color: #5373FD;
      border: none;
      font-family: var(--secondary-font);
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #fff;
      background: linear-gradient(45deg, #486BFE 42%, #5373FD 42%);

      &:hover {
        background: #fff;
        color: #5373FD;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.tourists {
  background-image: url(images/tourists-background.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 680px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: var(--secondary-font);
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
  }

  .content {
    display: flex;

    img {
      object-fit: cover;
    }

    .text {
      box-sizing: border-box;
      width: 880px;
      height: 280px;
      background-color: #333333;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      padding: 48px 60px;

      h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #fff;
      }

      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #fff;
        letter-spacing: 0.1em;
      }
    }
  }
}

footer {
  background-color: #000;
  height: 268px;
  display: grid;

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;

    b {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.1em;
      color: #fff;
      text-transform: uppercase;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2em;
      color: #fff;
    }

    ul {
      display: flex;
      gap: 32px;
      margin-top: 12px;
      align-items: center;

      li {
        button {
          background-color: transparent;
          border: none;

          &:hover {
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            & svg {
              [fill="white"] {
                fill: #5373FD;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1370px) {
  main {
    .nav {
      div {
        padding-inline: 110px;
      }
    }

    .choice {
      background-image: url(images/choice-bg-1370.png);
      gap: 122px;
      padding: 124px 110px;

      .left {
        translate: -110px 0;
      }
    }

    .steps {
      background-size: 70%;

      ul {
        gap: 180px;
      }
    }

    .spain {
      .image {
        background-image: url(images/spain-1-1370.png);
        height: 712px;

        &:first-child {
          .content {
            left: 110px;
          }
        }

        &:last-child {
          background-image: url(images/spain-2-1370.png);

          .content {
            left: unset;
            right: 110px;
          }
        }
      }

      .content {
        width: 558px;
        height: 372px;
      }
    }

    .tourists {
      .content {
        padding-inline: 110px;

        picture {
          img {
            width: 100%;
            height: 308px;
          }
        }

        .text {
          width: 740px;
          height: 308px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  main {
    .nav {
      div {
        padding-inline: 32px;
      }
    }

    .choice {
      background-image: url(images/choice-bg-1170.png);
      gap: 58px;
      padding: 124px 32px;

      .images {
        .left {
          translate: -32px 0;
        }
      }
    }

    .steps {
      background-size: 65%;

      ul {
        gap: 90px;
      }
    }

    .spain {
      .image {
        &:first-child {
          .content {
            left: 32px;
          }
        }

        &:last-child {
          .content {
            left: unset;
            right: 32px;
          }
        }
      }
    }

    .tourists {
      height: 736px;

      .content {
        padding-inline: 32px;

        picture {
          img {
            width: 100%;
            height: 336px;
          }
        }

        .text {
          width: 640px;
          height: 336px;
        }
      }
    }
  }
}

@media (max-width: 890px) {
  main {
    .nav {
      div {
        height: 136px;
        padding-inline: 16px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;

        nav {
          ul {
            li {
              height: unset;
            }
          }
        }
      }
    }

    .choice {
      height: unset;
      display: flex;
      flex-direction: column-reverse;
      gap: 32px;
      padding: 60px 16px;

      .images {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 24px;

        .left {
          translate: unset;
        }
      }

      .content {
        padding-block: unset;
        text-align: center;
      }
    }

    .steps {
      background-image: none;
      background-size: unset;
      height: unset;
      padding-block: 60px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 60px;
      }
    }

    .spain {
      .image:first-child {
        height: 588px;

        .content {
          inset: 120px 24px;
          width: unset;
          height: 348px;
        }
      }

      .image:last-child {
        height: 588px;

        .content {
          inset: 120px 24px;
          width: unset;
          height: 348px;
        }
      }
    }

    .tourists {
      height: 924px;

      .content {
        display: flex;
        flex-direction: column;
        padding-inline: 24px;

        .text {
          width: unset;
          height: unset;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  header .content {
    form {
      width: 500px;
    }
  }

  main {
    .nav {
      position: relative;

      div {
        height: 84px;
        padding-right: 18px;
        display: flex;
        flex-direction: row;
        padding-inline: 18px;

        :not(:checked)+nav {
          display: none;
        }

        a {
          z-index: 1;
        }

        nav {
          position: absolute;
          width: 100%;
          height: 216px;
          top: 84px;
          left: 0;
          background-color: #5373FD;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;

            & li:hover {
              border-bottom: unset;
              cursor: pointer;
            }
          }
        }

        .burger {
          display: block;
        }
      }
    }

    .choice {
      .images {
        flex-direction: column;
        gap: 24px;
        align-items: center;
      }
    }

    .spain {
      .image:first-child {
        height: 616px;

        .content {
          height: 376px;
        }
      }

      .image:last-child {
        height: 616px;

        .content {
          height: 376px;
        }
      }
    }

    .tourists {
      height: 980px;

      .content {
        .text {
          width: unset;
        }
      }
    }
  }